/* EditPerson.css */
.EditPerson {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 300px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .EditPerson label {
    display: block;
    margin-bottom: 10px;
  }
  
  .EditPerson input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .EditPerson button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  /* AddPerson.css */
  .AddPerson {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 300px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .AddPerson label {
    display: block;
    margin-bottom: 10px;
  }
  
  .AddPerson input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .AddPerson button {
    background-color: #28A745;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  